<?php

return array(
    'debug' => true,
    'remote_api' => array(
        'bridge_id' => '',
        'access_token' => '', // see http://blog.paulshi.me/technical/2013/11/27/Philips-Hue-Remote-API-Explained.html
    ),
    'database' => array(
        'default' => array(
            'user' => 'root',
            'password' => '',
            'dbname' => 'homebase',
            'host' => '127.0.0.1',
            'driver' => 'pdo_mysql',
            'charset' => 'utf8',
        ),
    ),
);
