<?php

return array(
    'debug' => true,
    'remote_api' => array(
        'bridge_id' => '',
        'access_token' => '',
    ),
    'database' => array(
        'default' => array(
            'user' => 'root',
            'password' => '',
            'dbname' => 'homebase',
            'host' => '127.0.0.1',
            'driver' => 'pdo_mysql',
            'charset' => 'utf8',
        ),
    ),
);
