{% extends "layout.twig" %}

{% block content %}
<h1>Dashboard</h1>
<div id="hour"></div>
<div id="graph"></div>
<div id="beacon">
    <div class="light"></div>
    <p class="name">
        UUID: B9407F30-F5F8-466E-AFF9-25556B57FE6D<br/>
        Major: 21023<br/>
        Minor: 64576
    </p>
</div>
{%  endblock %}
