.container {
    position: relative;
}

.header h3 {
    font-weight: normal;
}

.col-extended {
    padding-top: 20px;
}

.btn-extended {
    padding-left: 18px;
    padding-right: 18px;
}

.dashboard-events {
    position: relative;
}

.dashboard-events:before {
    display: block;
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 14px;
    width: 2px;
    background-color: #f3f3f3;
    z-index: -1;
}

.dashboard-events-action {
    position: relative;
}

.dashboard-events-action:before {
    display: block;
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 48px;
    width: 2px;
    background-color: #f3f3f3;
    z-index: -1;
}

.event-icon {
    display: inline-block;
    width: 2em;
    height: 2em;
    border-radius: 2em;
    text-align: center;
    vertical-align: baseline;
    padding-top: 5px;
}

.event-icon-default {
    background-color: #f3f3f3;
    color: #999;
}

.event-icon-success {
    background-color: #5cb85c;
    color: #fff;
}

.event-icon-warning {
    background-color: #f0ad4e;
    color: #fff;
}

.event-icon-danger {
    background-color: #d9534f;
    color: #fff;
}

.event-text {
    padding-top: 5px;
    padding-bottom: 5px;
}

#beacon {
    position: relative;
}

#beacon .light {
    width: 100px;
    height: 100px;
    border-radius: 200px;
    background-color: #E1516B;
}

#beacon .light.on {
    background-color: #F9D76C;
}

#beacon .name {
    position: absolute;
    top: 0;
    left: 120px;
    width: 400px;
}

.graph-stream-usage {
    height: 200px;
    margin-bottom: 20px;
}

.graph-stream-rssi {
    height: 120px;
}

.graph-events {
    height: 80px;
}

.graph-day {
    padding: 15px 0;
}

.axis path {
    display: none;
}

.axis line {
    fill: none;
    stroke: #ccc;
    shape-rendering: crispEdges;
}

.axis text {
  font: 11px sans-serif;
  fill: #777;
    font: 11px sans-serif;
    fill: #777;
}

#measurements-floors {
    position: relative;
    padding-top: 20px;
    width: 1100px;
    height: 500px;
}

#measurements-floors svg,
#floor-1,
#floor-2 {
    position: absolute;
    top: 0;
    left: 0;
}

#floor-1 {
    background-image: url('../images/floor-1.png');
    background-repeat: no-repeat;
    width: 500px;
    height: 300px;
    z-index: 2;
}

#floor-2 {
    left: 600px;
    background-image: url('../images/floor-2.png');
    background-repeat: no-repeat;
    width: 500px;
    height: 300px;
    z-index: 2;
}

#measurements-floor .legend {
    border-top: 1px solid red;
}

#measurements svg {
    z-index: 1;
}

footer {
    padding: 60px 0 40px 0;
}
