.container {
    position: relative;
}

.header h3 {
    font-weight: normal;
}

#beacon {
    position: relative;
}

#beacon .light {
    width: 100px;
    height: 100px;
    border-radius: 200px;
    background-color: #E1516B;
}

#beacon .light.on {
    background-color: #F9D76C;
}

#beacon .name {
    position: absolute;
    top: 0;
    left: 120px;
    width: 400px;
}

.graph-day {
    padding: 15px 0;
}

.axis path {
    display: none;
}

.axis line {
    fill: none;
    stroke: #ccc;
    shape-rendering: crispEdges;
}

.axis text {
  font: 11px sans-serif;
  fill: #777;
}
