.container {
    position: relative;
}

.header h3 {
    font-weight: normal;
}

.col-extended {
    padding-top: 20px;
}

.btn-extended {
    padding-left: 18px;
    padding-right: 18px;
}

#beacon {
    position: relative;
}

#beacon .light {
    width: 100px;
    height: 100px;
    border-radius: 200px;
    background-color: #E1516B;
}

#beacon .light.on {
    background-color: #F9D76C;
}

#beacon .name {
    position: absolute;
    top: 0;
    left: 120px;
    width: 400px;
}

.graph-stream-usage {
    height: 200px;
    margin-bottom: 20px;
}

.graph-stream-rssi {
    height: 120px;
}

.graph-events {
    height: 80px;
}

.graph-day {
    padding: 15px 0;
}

.axis path {
    display: none;
}

.axis line {
    fill: none;
    stroke: #ccc;
    shape-rendering: crispEdges;
}

.axis text {
  font: 11px sans-serif;
  fill: #777;
    font: 11px sans-serif;
    fill: #777;
}

footer {
    padding: 60px 0 40px 0;
}
